<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <title>Entrar - SAI</title>
</head> 
<body>
    
    <header>
        
        <h1 id="logo">
            <a href="{{ url_for('home') }}">SAI</a>
        </h1>

            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Início</a></li>
                    <li><a href="{{ url_for('home') }}#recursos">Recursos</a></li>
                    <li><a href="{{ url_for('paises') }}">Destinos</a></li>
                    <li><a href="{{ url_for('home') }}#comunidade">Comunidade</a></li>
                    <li><a href="{{ url_for('home') }}#suporte">Suporte</a></li>
                </ul>
            </nav>
        <div class="auth-buttons">
            <a href="{{ url_for('login') }}" class="btn-entrar">Entrar</a>
            <a href="{{ url_for('cadastro') }}" class="btn-criar">Criar Conta</a>
        </div>
    </header>

    <main class="main-login-cadastro">
        <div class="card-formulario">
            <h2>Bem-vindo de volta!</h2>
            
            <form action="{{ url_for('login') }}" method="POST">
                
                {% if erro %}
                <div class="mensagem-alerta">
                    Usuário ou senha incorretos!
                </div>
                {% endif %}
                
                <input type="email" name="email" class="form-input" placeholder="Seu E-mail" required>
                <input type="password" name="senha" class="form-input" placeholder="Sua Senha" required>
                
                <button type="submit" class="btn-submit">Entrar</button>
            </form>

            <a href="{{ url_for('cadastro') }}" class="link-extra">
                Ainda não tem conta? Crie agora.
            </a>
        </div>
    </main>

</body>
</html>
